
/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

@import url("prettyPhoto.css") screen;
@import url("hoverex-all.css") screen;

* { 
	margin: 0;
	padding: 0px;
    font-family: 'Lato', sans-serif;
} 

body { 
	background: #fff; 
	margin: 0; 
	color: #5a5a5a;
}

h1, h2, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
	/*font-weight: bold;*/

}
h3{
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	color: pink;
}


p { 
	padding: 0; 
	margin-bottom: 12px; 
    font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 18px; 
	line-height: 28px;
	color: #666; 
	margin-top: 10px; 
}


html,
body {
	height: 100%;
}


.portfolio {
    padding: 50px 0;
    
}

.portfolio-item {
    margin-bottom: 30px;

}
.box{
	 width: 200px;
	 height: 400px;
	 position: absolute;
	 top: 50%;
	 transform: translate(-50%,-50%);

}



.img-portfolio {
    margin: 0 auto;
}



.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mbf{
	margin-top: 60px;
}
.mb {
	margin-bottom: 30px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 2px;}
.ptba{
	padding-top:30px;
	padding-bottom: 40px;
}
.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}
::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
	color: #1abc9c;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}

.nopadding {
	padding: 0px !important;
	margin: 0px;
}
.navbar-default{
	background-color: black;
	border-color: black;

}




/* HEADER SECTION */
#h {
	background: url(../img/header.jpg) no-repeat center top;
	padding-top: 5px;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

#about{
	
	background-color: rgb(251, 251, 251);

}
#resume{
background-color:	rgb(251, 251, 251);
}
#portfolio{
	background-color:  rgb(251, 251, 251);
}
#skills{
	padding-top: 30px;
	padding-bottom: 0px;
	background-color: rgb(251, 251, 251);
}
#work{
	
	background-color: rgb(251, 251, 251);
}
#contact{
	background-color: rgb(251, 251, 251);
}
#h .logo {
	margin-top: 30px;
	margin-left: 40px;
	padding-bottom: 150px;
}

#h .logo h2{
	font-weight: 900;
	color: white;
	letter-spacing: 1px;
}

#h h3 {
	margin-top: 10px;
}

#h i {
	font-size: 50px;
}

/* GREY SECTION */
#g {
	padding-top: 50px;
	padding-bottom: 50px;
	background: #f5f5f5;
}

.portfolio {
	padding:0 !important;
	margin:0 !important;
	display:block;
}


.portfolio-item .title:before {border-radius:0; display:none}
.portfolio-item p {margin:0px 0 30px;}
.portfolio-item h3 {margin:-10px 0 10px; font-size:16px; text-transform:uppercase;}


.tpl6 h3
{
	color:#fff;
	margin:0;
	padding:40px 5px 0;
	font-size:16px;
	text-transform:uppercase;
}
.tpl6 .dmbutton
{
	display:inline-block;
	margin:30px 5px 20px 5px;
	font-size:13px;
}

.tpl6 .bg
{
	height:100%;
	width:100%;
	background-color:#00b3fe;
	background-color:rgba(0,179,254,.9);
	text-align:center;
}

/* CLIENTS */

.clients img {
	max-width: 140px;
	max-height: 60px;
	vertical-align: middle;
}

.clients .col-sm-2 {
	height: 80px;
	line-height: 80px;
}

/* CONTACT SEPARATOR */
#sep {
	background: url(../img/sep.jpg) no-repeat center top;
	padding-top: 100px;
	background-attachment: relative;
	background-position: center center;
	min-height: 450px;
	width: 100%;
	color: white;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

#sep h3 {
	font-weight: 300;
	letter-spacing: 2px;
}

/* FOOTER */
#f {
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #22A7F0;
}

#f i {
	margin-right: 30px;
	font-size: 35px;
}

#f a {
	color: white;
}

/* HEADER 2 - PORTFOLIO SECTION */
#h2 {
	/*background: url(../img/header-2.jpg) no-repeat center top;*/
	padding-top: 5px;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}


#h2 .logo {
	margin-top: 30px;
	margin-left: 40px;
	padding-bottom: 150px;
}

#h2 .logo h2{
	font-weight: 900;
	color: white;
	letter-spacing: 1px;
}

#h2 h3 {
	margin-top: 30px;
	letter-spacing: 1px;
}

/* pip */


.photo-grid {
	margin: 1em auto;
	max-width: 1106px;
	text-align: center;
}

.photo-grid li {
	border: 5px solid white;
	display: inline-block;
	margin: 1em;
	width: 289px;
}

.photo-grid img {
	display: block;
	height: auto;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	max-width: 100%;
}

.photo-grid figure {
	height: 400px;
	overflow: hidden;
	position: relative;
	width: 300px;
}

.photo-grid figcaption {
	background: rgba(0,0,0,0.6);
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
	z-index: 100;
}

.photo-grid figcaption p {
	display: table-cell;
	font-size: 1.5em;
	position: relative;
	top: -40px;
	width: 400px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	vertical-align: middle;
}
.photo-grid figcaption h1{
	display: table-cell;
	font-size: 3.0em;
	position: relative;
	top: -40px;
	width: 400px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}



.photo-grid li:hover figcaption {
	opacity: 1;
}

.photo-grid li:hover img {
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	transform: scale(1.4);
}
.photo-grid li:hover figcaption p {
	text-align: center;
	color: white;
	-moz-transform: translateY(40px);
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}
.photo-grid li:hover figcaption h1{
	color: white;
	text-align: center;
	-moz-transform: translateY(40px);
	-webkit-transform: translateY(40px);
	transform: translateY(40px)
}

/* photgrid p */

.photo-gridp {
	margin: 1em auto;
	max-width: 1106px;
	text-align: center;
}

.photo-gridp li {
	border: 5px solid white;
	display: inline-block;
	margin: 1em;
	width: 600px;
}

.photo-gridp img {
	display: block;
	height: auto;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	max-width: 100%;
}

.photo-gridp figure {
	height: 400px;
	overflow: hidden;
	position: relative;
	width: 600px;
}

.photo-gridp figcaption {
	background: rgba(0,0,0,0.6);
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
	z-index: 100;
}

.photo-gridp figcaption p {
	display: table-cell;
	font-size: 1.5em;
	position: relative;
	top: -40px;
	width: 600px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	vertical-align: middle;
}
.photo-gridp figcaption h1{
	display: table-cell;
	font-size: 3.0em;
	position: relative;
	top: -40px;
	width: 600px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}



.photo-gridp li:hover figcaption {
	opacity: 1;
}

.photo-gridp li:hover img {
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	transform: scale(1.4);
}
.photo-gridp li:hover figcaption p {
	text-align: center;
	color: white;
	-moz-transform: translateY(40px);
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}
.photo-gridp li:hover figcaption h1{
	color: white;
	text-align: center;
	-moz-transform: translateY(40px);
	-webkit-transform: translateY(40px);
	transform: translateY(40px)
}












